<div class="mai">
  <span
    class="animated"
    [class.fadeIn]="entering"
    [class.fadeOut]="exiting"
  >{{ meText }}&nbsp;</span>

  <span [hidden]="!inputVisible" class="name-input-wrap">
    <span>I </span>
    <input
      type="text"
      [placeholder]="placeholder"
      class="yourName"
      [style.width.px]="inputWidth"
      [(ngModel)]="name"
      (ngModelChange)="onNameInput()"
      (keyup)="checkName($event)"
      (keydown.enter)="moveOn()"
    />
    <br />
    <span
      *ngIf="showAmHereNow"
      class="am-here-now"
    >{{ amHereNowLabel }}</span>
  </span>
</div>
